torch
torchvision
lightning
jsonargparse
boto3
grpcio-tools
super-client
redis
pandas
awscli
xlsxwriter
tiktoken
transformers
hydra-core
psutil
pynvml

# nltk
# redis-py-cluster
#nlp workload
#tiktoken
#datasets
#wandb
#transformers
#export PYTHONPATH=/workspaces/super-dl