torch
torchvision
lightning
jsonargparse
boto3
grpcio-tools
super-client
redis
pandas
awscli
xlsxwriter
tiktoken
transformers
ray
#nlp workload
#tiktoken
#datasets
#wandb
#transformers
#export PYTHONPATH=/workspaces/super-dl