torchvision
lightning
# jsonargparse
boto3
pandas
# xlsxwriter
# redis
# grpcio-tools
# datasets
# tiktoken
# transformers
# nltk
hydra-core
psutil
pynvml
# heapdict
# litdata
# "ray[tune]"
awscli
torchmultimodal-nightly
lz4